:root {
    /* Nueva paleta de colores */
    --color-primary: #ff0000;
    --color-secondary: #40048e;
    --color-accent: #40048e;
    --color-background: #000;
    --color-text: #fff;
    
    /* Colores para botones */
    --color-success: #006c2d;
    --color-edit: blue;
    --color-delete: red;
}

body {
    background: linear-gradient(135deg, #3498db, #000); /* Fondo con gradiente */
    color: var(--color-text);
    font-family: cursive;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: cursive;
    color: black;
}
    

.centrar {
    background: linear-gradient(135deg, rgb(79, 239, 245), #fff); /* Fondo con gradiente */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.titulo h1 {
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: var(--color-secondary);
    color: white;
    font-weight: bold;
}

td {
    background-color: var(--color-background);
    border-bottom: 1px solid #ddd;
}

tr:hover td {
    background-color: #3d3d3d;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.agregar, .editar, .eliminar {
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.agregar {
    background-color: var(--color-success);
}

.editar {
    background-color: var(--color-edit);
}

.eliminar {
    background-color: var(--color-delete);
}

.agregar:hover {
    background-color: #2ecc71;
    transform: translateY(-2px);
}

.editar:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.eliminar:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

/* Estilo responsive */
@media (max-width: 768px) {
    .titulo h1 {
        font-size: 1.5rem;
    }

    table {
        font-size: 14px;
    }

    .acciones {
        flex-direction: column;
        gap: 5px;
    }
}
